<div class="proposalsView">
  <div class="proposalList">
    <% proposals.each(function (prop) { %>
      <%= require('./proposalListItem.ejs')({
        proposal: prop
      }) %>
    <% }); %>
  </div>
</div>
