<div class="proposalsView">
  <h4>Proposals</h4>
  <div class="proposals">
    <% _.each(proposals, function (proposal) { %>
      <%= require('./proposal.ejs')(proposal) %>
    <% }); %>
    <div class="noneMessage">No proposals yet.</div>
  </div>
</div>
