<div class="proposal">

  <div class="row head">
    <div class="col-sm-4 headLeft">
      <div class="profileContainer">
        <%= require('../profile/profile.ejs')({
          user: User
        }) %>
      </div>
    </div>
    <div class="col-sm-6 col-sm-offset-2 headRight">
      <div class="offerContainer">
        Requesting <span class="offer"><%= offer %></span> ę
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <%= body %>
    </div>
  </div>

</div>
