<div class="proposalsView">
  <h4>Proposals</h4>
  <span class="subHead">
    <% if (acceptedProposal) { %>
      1 accepted, awaiting submission.
    <% } else if (allProposals.length) { %>
      <%= pendingProposals.length %> pending, awaiting your approval.
    <% } %>
  </span>
  <div class="proposals">
    <% if (acceptedProposal) { %>
      <div class="accepted subContainer">
        <h5>Accepted</h5>
        <%= require('./proposal.ejs')(acceptedProposal.toJSON()) %>
      </div>
      <% if (rejectedProposals.length) { %>
        <div class="rejected subContainer">
          <h5>Rejected</h5>
          <% _.each(rejectedProposals.length && rejectedProposals.toJSON(), function (proposal) { %>
            <%= require('./proposal.ejs')(proposal) %>
          <% }); %>
        </div>
      <% } %>
    <% } else if (allProposals.length) { %>
      <div class="pending subContainer">
        <h5>Pending</h5>
        <% _.each(allProposals.length && allProposals.toJSON(), function (proposal) { %>
          <%= require('./proposal.ejs')(proposal) %>
        <% }); %>
      </div>
    <% } %>
    <div class="noneMessage">No proposals yet.</div>
  </div>
</div>
