<div class="proposalsView">
  <div class="proposalList">
    <% proposals.each(function (prop) { %>
      <%= require('./proposalListItem.ejs')({
        proposal: prop,
        state: prop.stateMap[prop.get('state') + '']
      }) %>
    <% }); %>
  </div>
</div>
