<div class="tagsView <%= obj.classes %>">
  <h4>Tags</h4>
  <div class="tags">
    <% tags.each(function (tag) { %>
      <span class="tag" data-name="<%= tag.get('name') %>">
        <%= tag.get('name') %>
        <span class="glyphicon glyphicon-remove" data-action="remove" aria-hidden"true"></span>
      </span>
    <% }); %>
    <% if (obj.editable && tags.length > 1) { %>
      <a href="#" data-action="remove-all">remove all</a>
    <% } %>
    <div class="noneMessage">No tags.</div>
  </div>
</div>
