<div class="commentsView">
  <h4>Comments</h4>
  <div class="comments">
    <% comments.each(function (comment) { %>
      <%= require('templates/comment/comment.ejs')({ comment: comment }) %>
    <% }); %>
    <div class="noneMessage">No comments yet.</div>
  </div>
</div>
