<div class="panel panel-default">
  <div class="panel-body comment-header">
    <span class="profileContainer">
      <%= require('../profile/profile.ejs')({
        size: 'small',
        user: User
      }) %>
    </span>
    <span class="time pull-right"><%= createdAt %></span>
  </div>
  <div class="panel-body">
    <%= body %>
  </div>
</div>
