<% var moment = require('moment'); %>
<div id="comment-<%= comment.get('id') %>"class="comment">

  <div class="row head">
    <div class="col-sm-4 headLeft">
      <div class="profileContainer">
        <%= require('templates/profile/profile.ejs')({
          user: comment.get('User')
        }) %>
      </div>
    </div>
    <div class="col-sm-6 col-sm-offset-2 headRight">
      <div class="timeContainer">
        <%= moment(comment.get('createdAt')).fromNow() %>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <%= comment.get('body') %>
    </div>
  </div>

</div>
