<% var Moment = require('moment'); %>
<div class="comment">

  <div class="row head">
    <div class="col-sm-4 headLeft">
      <div class="profileContainer">
        <%= require('../profile/profile.ejs')({
          user: User
        }) %>
      </div>
    </div>
    <div class="col-sm-6 col-sm-offset-2 headRight">
      <div class="timeContainer">
        <%= Moment(createdAt).fromNow() %>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <%= body %>
    </div>
  </div>

</div>
