<div class="createProposalView">
  <form class="ajaxForm">
    <textarea data-attr="body" required></textarea>
    <div class="row">
      <div class="col-sm-12">
        <label>Offer</label>
        <input type="text" data-attr="offer" required>
        <button class="btn btn-default pull-right" type="submit">Make Proposal</button>
      </div>
    </div>
  </form>
</div>
