<div class="createProposalView">
  <textarea data-attr="body"></textarea>
  <div class="row">
    <div class="col-sm-12">
      <label>Offer</label>
      <input type="text" data-attr="offer">
      <button class="btn btn-default pull-right" data-action="submit">Make Proposal</button>
    </div>
  </div>
</div>
