<div class="createRequestView">
  <input data-attr="title" type="text">
  <textarea data-attr="body"></textarea>
  <button class="btn btn-default pull-right" data-action="submit">Submit</button>
</div>
