<div class="panel panel-default request">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-9">
        <h3 class="panel-title"><%= model.get('title') %></h3>
      </div>
      <div class="col-sm-3">
        <%= require('../profile/profile.ejs')({
          size: 'small',
          user: model.get('User').toJSON()
        }) %>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <%= model.get('body') %>
  </div>
</div>
