<div class="alert alert-<%= type %> <%= dismissable ? 'alert-dismissible' : '' %>" role="alert">
  <% if (dismissable) { %>
    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <% } %>
  <%= body %>
</div>
