<label>Show</label>
<select class="form-control limitSelect sm" data-action="limit">
  <option value="10" <%= limit === 10 ? 'selected' : '' %>>10</option>
  <option value="25" <%= limit === 25 ? 'selected' : '' %>>25</option>
  <option value="50" <%= limit === 50 ? 'selected' : '' %>>50</option>
  <option value="100" <%= limit === 100 ? 'selected' : '' %>>100</option>
</select>
<label>per page</label>
