<%= notification.get('objectType').toLowerCase() %>
<% if (notification.get('objectType') === 'Request') { %>
  <h4 class="title">
    <a href="<%= notification.getObjectUrl() %>">
      <%= notification.get('Object' + notification.get('objectType')).get('title') %>
    </a>
  </h4>
<% } %>
