<div id="headerContainer"></div>
<div id="mainContainer" class="container-fluid">
  <div class="row">
    <div id="contentContainer" class="col-sm-9"></div>
    <div id="sidebarContainer" class="col-sm-3"></div>
  </div>
</div>
<div id="footerContainer"></div>
