<nav class="navbar navbar-default">
  <div class="container-fluid">

    <a class="navbar-brand" href="/">Barter</a>
    <ul class="nav navbar-nav">
      <li data-route="app"><a href="/app">App</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-text profileContainer"></li>
      <li>
        <button type="button" class="btn btn-default navbar-btn logInOutBtn" data-logged-in="<%= loggedIn %>">Log <%= loggedIn ? 'out' : 'in' %></button>
        <% if (!loggedIn) { %>
          <button type="button" class="btn btn-default navbar-btn registerBtn" data-action="register">Register</button>
        <% } %>
      </li>
    </ul>

  </div>
</nav>
