<nav class="navbar navbar-default">
  <div class="container">
    <a class="navbar-brand" href="#">Barter</a>
    <button type="button" class="btn btn-default navbar-btn navbar-right" data-action="login">Log in</button>
  </div>
</nav>
