<div class="homeView">
  <div class="jumbotron">
    <h1>Welcome to Barter</h1>
    <h3>
      Swap your software development skills with other engineers.
    </h3>
    <p>
      <a href="/app/requests/create">Create a request</a>, or <a href="/app/requests/browse">find a request</a> you would like to complete.
    </p>
  </div>
</div>
