<div class="homeView">
  <div class="jumbotron">
    <h1>Welcome to Barter</h1>
    <p>Iteratively deep-diving intelligently seamless core assets is crucial to our customer-focused silo. Is your best practice prepared for next-generation driver growth? We thrive because of our best-in-class core competency and competitive prince2 practitioner culture. We thrive because of our actionable synergy and best-of-breed capability culture.</p>
    <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Do something</a></p> -->
  </div>
</div>
