<div class="homeView">
  <div class="jumbotron">
    <h1>Welcome to Barter</h1>
    <p>
      Swap your software development skills with other engineers.
      <br>
      <a href="/app/requests/create">Create a request</a>, or <a href="/app/requests/browse">browse for some</a> to complete yourself.
    </p>
  </div>
</div>
