<div class="notificationsView">
  <h1 class="viewTitle">Notifications</h1>
  <% notifications.each(function (notification) { %>
    <%= require('./notification/notificationListItem.ejs')({ notification: notification }) %>
  <% }) %>
</div>
