<div class="notificationsView paginatedView">
  <h1 class="viewTitle">Notifications</h1>
  <div class="controls top">
    <div class="pull-right">
      <button class="btn btn-default" data-action="all-seen">Mark All Seen</button>
    </div>
  <div class="clearfix"></div>
  </div>
  <div class="notifications">
    <% notifications.each(function (notification) { %>
      <%= require('templates/notification/notificationListItem.ejs')({ notification: notification }) %>
    <% }) %>
    <div class="noneMessage">You have no notifications</div>
  </div>
  <div class="infiniteLoading"></div>
</div>
