<ul class="nav nav-tabs">
  <li role="presentation" data-view="dashboard"><a href="#">Dashboard</a></li>
  <li role="presentation" data-view="profile"><a href="#">Profile</a></li>
  <li role="presentation" data-view="account"><a href="#">Account</a></li>
</ul>
<div class="mainContent"></div>
