<div class="settings">
  <div class="notificationSettings">
    <h2>Notifications</h2>
    <h4>Subscribe to tags</h4>
    <p>Enter tags you are interested in. You will receive a notification when a request with any of these tags is created.</p>
    <div class="tagsEditorContainer" />
    <button class="btn btn-primary" data-action="subscribe">Save</button>
  </div>
  <div class="avatarSettings">
    <h2>Avatar</h2>
    <h4>Upload a new avatar</h4>
    <form class="avatarForm" enctype="multipart/form-data" action="/avatar" method="post">
      <input type="file" name="file" />
      <input type="submit" value="Upload Image" name="submit">
    </form>
  </div>
</div>
