<div class="settings">
  <h2>Notifications</h2>
  <h4>Subscribe to tags</h4>
  <div class="tagsEditorContainer" />
  <a href="#" data-action="subscribe">subscribe</a>
  <h2>Avatar</h2>
  <h4>Upload a new avatar</h4>
  <form class="avatarForm" enctype="multipart/form-data" action="/avatar" method="post">
    <input type="file" name="file" />
    <input type="submit" value="Upload Image" name="submit">
  </form>
</div>
