<div class="settings">
  <p>You have <%= user.get('points') %> points</p>
  <form class="avatarForm" enctype="multipart/form-data" action="/avatar" method="post">
    <input type="file" name="file" />
    <input type="submit" value="Upload Image" name="submit">
  </form>
</div>
