<div class="list-group">
  <a href="/app/requests/browse" class="list-group-item" data-route="requestsBrowse">Browse Requests</a>
  <a href="/app/requests/create" class="list-group-item" data-route="requestsCreate">Submit Request</a>
  <a href="/app/requests/mine" class="list-group-item" data-route="requestsMine">My Requests</a>
  <a href="/app/proposals/mine" class="list-group-item" data-route="proposalsMine">My Proposals</a>
  <a href="/app/inbox" class="list-group-item" data-route="inbox">Inbox <span class="badge unread hidden">0</span></a>
  <!-- <a href="/app/settings" class="list-group-item" data-route="settings">Settings</a> -->
</div>
