<div class="welcomView">
  <h1 class="viewTitle">Welcome</h1>
  <h3>What now?</h3>
  <ul>
    <li><a href="/app/requests/browse">Find a request to complete</a></li>
    <li><a href="/app/requests/create">Make your own request</a></li>
    <li><a href="/app/profile">View your profile</a></li>
  </ul>
</div>
