.ruleContainer {
  margin: 5px 0;
}

.rule {
  padding: 5px;
  background-color: #eee;
  border-radius: 4px;
  .btn {
    margin: 3px;
  }
  .close {
    display: none;
    padding: 3px 7px;
    opacity: 0.5;
  }
  &.active {
    background-color: #ccc;
    .close {
      display: block;
    }
  }
}
