#headerContainer {
  .navbar-btn {
    margin: 8px 8px 8px 0;
  }
  .navbar {
    margin-bottom: 10px;
    border-radius: 0;
    border-right: none;
    border-left: none;
  }
  .profileContainer {
    margin: 3px 15px;
  }
}
