// request in list view
.listItem {
  margin-bottom: 10px;
  padding: 8px;
  &:hover {
    background: $pale-grey;
  }
  .title {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .requestMeta {
    padding: 5px 0 2px;
  }
  .rightCol {
    height: 45px;
    padding-left: 0;
  }
  .sidePanel {
    display: inline-block;
    float: left;
    text-align: center;
    height: inherit;
    &.offerPanel {
      width: 35%;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
    }
    &.proposalsPanel {
      width: 65%;
      .offer {
        display: inline-block;
        margin-left: 5px;
      }
    }
    .header {
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}
