#mainContainer {
  &.container-fluid {
    max-width: 980px;
    padding: 10px;
  }
}

a {
  text-decoration: none !important;
}

textarea {
  width: 100%;
  height: 200px;
  resize: none;
  margin-bottom: 10px;
}

button + button {
  margin-right: 10px;
}

.module + .module {
  margin-top: 20px;
}

.arrowUp {
	position: relative;

  &:after, &:before {
  	bottom: 100%;
  	left: 50%;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  }
  &:after {
  	border-color: rgba(255, 255, 255, 0);
  	border-bottom-color: #fff;
  	border-width: 8px;
  	margin-left: -8px;
  }
  &:before {
  	border-color: rgba(204, 204, 204, 0);
  	border-bottom-color: #ccc;
  	border-width: 9px;
  	margin-left: -9px;
  }
  &.arrowUp-left {
    &:after, &:before {
      left: 20px;
    }
  }
}

.noneMessage {
  padding: 5px 0;
  font-style: italic;
}
div, span {
  + .noneMessage {
    display: none;
  }
}


.comment, .proposal {
  .head {
    margin-bottom: -10px;
  }
  .headRight {
    height: 40px;
    text-align: right;
  }
}

.tabbedView {
  .panel {
    padding: 10px;
    border-top: none;
  }
}

.bodyEditor {
  textarea[data-attr="body"] {
    resize: vertical;
  }
  .form-group {
    margin-bottom: 10px;
  }
  .panel {
    min-height: 292px;
    overflow: auto;
  }
  .info {
    color: #aaa;
  }
}

.overlaidTitle {
  display: inline-block;
  background-color: #fff;
  padding: 5px;
  position: relative;
  top: -15px;
  margin: 0;
}

.viewTitle {
  margin: 0;
}
