.paginatedView {
  .controls {
    padding: 5px 0;
    &.top {
      padding: 10px 0;
    }
    &.bottom {
      border-top: 1px solid #ccc;
    }
    select {
      display: inline-block;
      width: auto;
    }
    label {
      margin: 0 5px;
    }
    .pagination {
      margin: 10px 0;
    }
    .collapseWidget {
      margin-top: -10px;
    }
  }
  // vertical spacing for noneMessage when there are no list items in a paginated view
  // for example, no items under my requests or my proposals.
  // using specific child selectors (>) here to avoid affecting request list items with no tags
  > .itemList > .noneMessage {
    padding: 15px 0 35px;
  }
}
