.profile {
  display: inline-block;
  .avatar {
    vertical-align: top;
    margin: 2px;
    height: 40px;
    border-radius: 50%;
  }
  .usernameRepContainer {
    display: inline-block;
  }
  .username {
    font-size: 16px;
  }
  .rep {
    font-size: 12px;
    color: $green;
  }
}
