@import "variables";

.profile {
  display: inline-block;
  .avatar {
    vertical-align: top;
    margin: 2px;
    height: 40px;
    border-radius: 50%;
    &:not([data-provider="native"]) {
      margin-right: 10px;
    }
  }
  .usernameRepContainer {
    display: inline-block;
    text-align: left;
  }
  .username {
    font-size: 16px;
  }
  .rep {
    font-size: 12px;
  }
  i {
    position: absolute;
    margin-left: -15px;
  }
}

.editProfileView {
  .header {
    margin-top: 20px;
  }
  .avatar {
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .userInfo {
    display: inline-block;
    height: 100px;
    padding: 5px 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
  }
  .username {
    font-size: 40px;
  }
  .memberSince {
    font-size: 15px;
    color: #777;
    margin-left: 8px;
  }
  .bottom {
    font-size: 15px;
    margin-top: 5px;
  }
  .balanceContainer {
    margin-left: 30px;
  }
}

// effect to recess the profile into comment/proposal
.comment, .proposal {
  .panel-body {
    padding-top: 20px;
  }
  .profileContainer {
    margin-bottom: -14px;
    .profile {
      background: white;
      margin-left: 10px;
      padding: 0 7px 0 3px;
    }
  }
}
