@import "variables";

.profile {
  display: inline-block;
  .avatar {
    vertical-align: top;
    margin: 2px;
    height: 40px;
    border-radius: 50%;
  }
  .usernameRepContainer {
    display: inline-block;
    text-align: left;
  }
  .username {
    font-size: 16px;
  }
  .rep {
    font-size: 12px;
    color: $green;
  }
}

// effect to recess the profile into comment/proposal
.comment, .proposal {
  .panel-body {
    padding-top: 20px;
  }
  .profileContainer {
    margin-bottom: -14px;
    .profile {
      background: white;
      margin-left: 10px;
      padding: 0 7px 0 3px;
    }
  }
}
