@import "variables";

.registerView, .loginView {
  .loginOptionContainer {
    margin-bottom: 40px;
  }

  .or {
    text-align: center;
    font-size: 24px;
  }

  .thirdPartyLoginButtons {
    .btn {
      font-size: 16px;
    }
    i {
      margin-right: 10px;
      font-size: 20px;
    }
  }

  .btn.auth-twitter {
    background-color: $twitter-blue;
    border-color: $twitter-blue;
  }

}

.verticallyCentered {
  .loginView & {
    margin-top: 55px;
  }
  .registerView & {
    margin-top: 95px;
  }
}
