@import "variables";

.registerView, .loginView {
  .loginOptionContainer {
    margin-bottom: 40px;
  }

  .or {
    text-align: center;
    font-size: 24px;
  }
}

.verticallyCentered {
  .loginView & {
    margin-top: 55px;
  }
  .registerView & {
    margin-top: 95px;
  }
}

.btn.auth-twitter {
  background-color: $twitter-blue;
  border-color: $twitter-blue;
}
