.request {
  .offerProposalsContainer {
    padding: 15px;
    text-align: right;
  }

  .panel {
    &.bodyPanel {
      margin: 20px 0;
    }
    &.metaPanel {
      height: 67px;
      margin-bottom: 5px;
    }
  }

  .profile {
    .username {
      text-align: right;
    }
  }
}

.commentsContainer {
  margin-top: 15px;
}
