// viewing a request
.request {
  .offerProposalsContainer {
    padding: 15px;
    text-align: right;
  }

  .profileContainer {
    margin: 15px 0px 15px;
  }

  .profile {
    .username {
      text-align: right;
    }
  }
}

.createProposalAndCommentView {
  .panel {
    display: none;
  }
  .nav.active + .panel {
    display: block;
  }
}

.commentsContainer {
  margin-top: 15px;
}

// creating a request
.createRequestView {
  .tagsView {
    margin: 10px 0;
    > h4 {
      display: none;
    }
  }
}
