.requestsView {
  .controls {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
    select {
      display: inline-block;
      width: auto;
    }
    label {
      margin: 0 5px;
    }
  }
}

// request in list view
.requestListItem {
  margin-bottom: 10px;
  padding: 8px 0;
  &:hover {
    background: $pale-grey;
  }
  .title {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .requestMeta {
    padding: 5px 0 2px;
  }
  .rightCol {
    height: 45px;
    padding: 0;
  }
  .sidePanel {
    display: inline-block;
    float: left;
    text-align: center;
    height: inherit;
    &.offerPanel {
      width: 35%;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
    }
    &.proposalsPanel {
      width: 65%;
      .offer {
        display: inline-block;
        margin-left: 5px;
      }
    }
    .header {
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

// viewing a request
.request {
  .offerProposalsContainer {
    padding: 15px;
    text-align: right;
  }

  .profileContainer {
    margin: 15px 0px 15px;
  }

  .profile {
    .username {
      text-align: right;
    }
  }
}

.createProposalAndCommentView {
  .panel {
    display: none;
  }
  .nav.active + .panel {
    display: block;
  }
}

.commentsContainer {
  margin-top: 15px;
}

// creating a request
.createRequestView {
  .tagsView {
    margin: 10px 0;
    > h4 {
      display: none;
    }
  }
}
