.tag {
  display: inline-block;
  margin-bottom: 4px;
  padding: 4px 9px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background: #efefef;
  cursor: default;

  .remove {
    display: none;
    .editable & {
      display: inline;
      font-size: 11px;
      margin: 0 -5px 0 8px;
      padding: 5px;
      cursor: pointer;
    }
  }
}
