@import "variables";

.tagsView {
  &.simple {
    display: inline-block;
    h4 {
      display: none;
    }
  }
  &.small {
    .tag {
      font-size: 11px;
      padding: 1px 4px;
    }
  }
  [data-action="remove-all"] {
    margin-left: 5px;
    color: #ccc;
    &:hover {
      color: $mute-red;
    }
  }
}

.tag {
  display: inline-block;
  margin-bottom: 4px;
  padding: 4px 9px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background: #efefef;
  cursor: default;

  [data-action="remove"] {
    display: none;
    .editable & {
      display: inline;
      font-size: 11px;
      margin: 0 -5px 0 8px;
      padding: 5px;
      cursor: pointer;
    }
  }
}
