@import "variables";

// collapsible containers
.collapseWidget {
  .collapseBtn {
    position: relative;
    bottom: -20px;
    padding: 0 5px;
    margin: 0 10px;
    background: white;
  }
  .collapsibleContainer {
    margin: 10px 0;
    padding: 20px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    &[data-collapsed="true"] {
      padding: 0 10px;
      border-bottom-color: white;
      max-height: 0;
    }
    &[data-collapsed="false"] {
      max-height: 100000px;
    }
  }
  &.animated {
    .collapsibleContainer {
      transition: max-height 40s, padding 1s;
      &[data-collapsed="true"] {
        transition: max-height 0.40s, padding 1s, border-bottom-color 2s;
      }
    }
  }
  &.noSideBorder {
    .collapsibleContainer {
      border-left: none;
      border-right: none;
      border-radius: 0;
    }
  }
  &.alignRight {
    text-align: right;
  }
}

// loading
// adapted from http://stephanwagner.me/only-css-loading-spinner
@keyframes loading {
  to {transform: rotate(360deg);}
}
@-webkit-keyframes loading {
  to {-webkit-transform: rotate(360deg);}
}
.loading {
  position: relative;
  opacity: 0.5;
  pointer-events: none;
  min-width: 75px;
  min-height: 75px;
  &.absolute {
    position: absolute;
  }
}
.loading:before {
  content: 'Loading...';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  z-index: 100;
  background: #fff;
}
.loading:not(:required):before {
  content: '';
  border-radius: 50%;
  border: 10px solid rgba(0, 0, 0, .3);
  border-top-color: rgba(0, 0, 0, .6);
  animation: loading .6s linear infinite;
  -webkit-animation: loading .6s linear infinite;
}

// form elements
select {
  &.sm {
    height: 29px;
  }
}

// state indicators. pending, accepted, rejected
.state {
  position: relative;
  top: -24px;
  float: left;
  border-radius: 0;
  text-align: center;
  padding: 3px 10px;
  a {
    color: white;
  }
  .stateText {
    display: inline-block;
    color: white;
    font-size: 14px;
  }
  .btn-sm {
    margin: 7px 0;
  }
  &.pending {
    background-color: $mute-grey;
  }
  &.accepted {
    background-color: $mute-green;
    border-radius: 0;
  }
  &.rejected {
    background-color: $mute-red;
  }
}

// highlighted elements
.highlighted {
  border-radius: 2px;
  animation: pulsate 0.75s ease-out;
  animation-iteration-count: 3;
  animation-delay: 0.2s;

  @keyframes pulsate {
    0% {
      opacity: 1;
      box-shadow: 0 0 0 0px #ccc;
    }
    50% {
      opacity: 0.2;
      box-shadow: 0 0 0 7px #ccc;
    }
  }

}
