<div class="createSubmissionView">
  <form>
    <div class="form-group col-sm-12">
      <label>Body</label>
      <textarea data-attr="body" class="form-control" rows="8" placeholder="Body"></textarea>
    </div>
    <div class="form-group col-sm-9">
      <label>Link</label>
      <input type="text" data-attr="link" class="form-control" placeholder="Link">
    </div>
    <div class="col-sm-12 buttons">
      <button class="btn btn-default" data-action="submit">Submit</button>
    </div>
  </form>
</div>
