<div class="createSubmissionView">
  <h1 class="viewTitle">Create Submission</h1>
  <form class="ajaxForm">
    <div class="bodyEditorContainer" />
    <div class="row">
      <div class="col-sm-12 buttons">
        <button class="btn btn-default" data-action="submit">Submit</button>
      </div>
    </div>
  </form>
</div>
