<div class="createSubmissionView">
  <form class="ajaxForm">
    <div class="bodyEditorContainer" />
    <div class="col-sm-12 buttons">
      <button class="btn btn-default" data-action="submit">Submit</button>
    </div>
  </form>
</div>
