<div class="manageProfileView tabbedView">
  <h1 class="viewTitle">My Profile</h1>
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="#profile" data-action="toggleEditProfile">Profile</a></li>
    <li role="presentation"><a href="#settings" data-action="toggleSettings">Settings</a></li>
  </ul>
  <div class="actionContainer editProfileContainer">
  </div>
  <div class="actionContainer settingsContainer hidden">
  </div>
</div>
