<div class="profile">
  <img src="/avatar.png" class="avatar"></img>
  <div class="usernameRepContainer">
    <div class="username"><%= user.username %></div>
    <div class="rep"><%= user.rep %></div>
  </div>
</div>
