<div class="profile">
  <img src="<%= user.get('avatar') %>" class="avatar"></img>
  <div class="usernameRepContainer">
    <div class="username"><%= user.get('username') %></div>
    <div class="rep"><%= user.get('rep') %></div>
  </div>
</div>
