<div class="profile">
  <img src="<%= user.get('avatar') %>" class="avatar"></img>
  <div class="usernameRepContainer">
    <div class="username"><%= user.get('username') %></div>
    <span>rep:</span> <span class="rep"><%= user.get('rep') %></span>
  </div>
</div>
