<div class="createRequestView">
  Title: <input type="text" data-attr="title">
  <br>
  Body: <textarea data-attr="body"></textarea>
  <br>
  Offer: <input type="text" data-attr="offer">
  <br>
  Tags: <input type="text" data-attr="tags">
  <button class="btn btn-default pull-right" data-action="submit">Submit</button>
</div>
