<div class="createRequestView">
  <form>
    <div class="form-group col-sm-9">
      <label>Title</label>
      <input type="text" data-attr="title" class="form-control" placeholder="Title">
    </div>
    <div class="form-group col-sm-3">
      <label>Offer</label>
      <input type="text" data-attr="offer" class="form-control" placeholder="Offer">
    </div>
    <div class="bodyEditorContainer" />
    <div class="form-group col-sm-12">
      <label>Tags</label>
      <input type="text" data-attr="tags" class="form-control" placeholder="Tags">
      <div class="tagsContainer"></div>
    </div>

    <div class="col-sm-12 buttons">
      <button class="btn btn-default" data-action="submit">Submit</button>
    </div>
  </form>
</div>
<div class="md"></div>
