<div class="createRequestView">
  <input type="text" data-attr="title">
  <textarea data-attr="body"></textarea>
  <input type="text" data-attr="offer">
  <button class="btn btn-default pull-right" data-action="submit">Submit</button>
</div>
