<div class="createProposalAndCommentView">
  <ul class="nav nav-tabs pull-right">
    <li role="presentation"><a href="#addComment" data-action="addComment">Add Comment</a></li>
    <li role="presentation"><a href="#addProposal" data-action="addProposal">Make Proposal</a></li>
  </ul>
  <div class="actionContainer createCommentContainer hidden"></div>
  <div class="actionContainer createProposalContainer hidden"></div>
</div>
