<div class="requestsView">
  <div class="requestList">
    <% requests.each(function (request) { %>
      <%= require('./requestListItem.ejs')({
        request: request,
        user: request.get('User'),
        proposals: request.get('Proposals')
      }) %>
    <% }); %>
  </div>
</div>
