<div class="request module">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="title"><%= request.get('title') %></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="profileContainer">
        <%= require('../profile/profile.ejs')({
          size: 'small',
          user: request.get('User').toJSON()
        }) %>
      </div>
    </div>
    <div class="col-sm-6 col-sm-offset-2 offerProposalsContainer">
      <div class="offerContainer">
        Offering <span class="offer"><%= request.get('offer') %></span> ę
      </div>
      <div class="proposalsContainer"></div>
    </div>
  </div>
  <div class="panel panel-default arrowUp">
    <div class="panel-body">
      <%= request.get('body') %>
    </div>
  </div>
</div>
<div class="tagsContainer module"></div>
<div class="commentsContainer module"></div>
<div class="createProposalAndCommentContainer"></div>
