<%= require('templates/request/requestSimple.ejs')({
  request: request
}) %>
<div class="tagsContainer module"></div>
<div class="proposalsContainer module"></div>
<div class="commentsContainer module"></div>
<div class="createProposalAndCommentContainer"></div>
