<div class="panel panel-default request">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-9">
        <h3 class="panel-title"><%= model.get('title') %></h3>
      </div>
      <div class="col-sm-3">
        <div class="profileContainer pull-right">
          <%= require('../profile/profile.ejs')({
            size: 'small',
            user: model.get('User').toJSON()
          }) %>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <%= model.get('body') %>
  </div>
</div>
<div class="commentsContainer">
</div>
<div>
  <%= model.get('Proposals').length %> Proposals
</div>
<div class="pull-right">
  <button class="btn btn-default" data-action="addComment">Add Comment</button>
  <button class="btn btn-default" data-action="makeProposal">Make Proposal</button>
</div>
<div class="createCommentContainer hidden"></div>
<div class="createProposalContainer hidden"></div>
