<html>
<head>
  <script type="text/javascript" charset="utf-8" src="/dist/scripts/app-main.js"></script>
  <link rel="stylesheet" type="text/css" href="dist/styles/app.css"/>
</head>

<body>
  <div id="headerContainer"></div>
  <div id="appContainer"></div>
  <div id="footerContainer"></div>
</body>

</html>
