<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript">
    (function () {
      window.App = { // global object
        serverVars: {
          user: <%- user %>
        }
      };
      var prefix, js, css;
      var PROD_ENV = 'production';
      var env = decodeURIComponent((document.location.href.match(/[?&]env=([^&#]+)/) || []).pop() || '') || PROD_ENV;
      var local = window.location.hostname === 'localhost';
      if (local && env === PROD_ENV) { // local dev mode
        prefix = 'http://localhost:5001/'; // webpack-dev-server must be running at this location
        js = 'main.dev.js';
        css = 'main.dev.css';
      } else { // hosted or locally testing on an env
        prefix = 'https://s3-us-west-2.amazonaws.com/barter.app/public/dist/' + env + '/';
        js = 'main.js';
        css = 'main.css';
      }

      document.write('<scrip' + 't type="text/javascript" charset="utf-8" src="' + prefix + 'scripts/' + js + '"><\/script>');
      document.write('<link rel="stylesheet" type="text/css" href="' + prefix + 'styles/' + css + '"/>');
    })();
  </script>
</head>

<body>
  <div id="appContainer"></div>
  <div id="alertContainer"></div>
</body>

</html>
